# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Logs
*.log

# Flask stuff
instance/
.webassets-cache

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyright/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml
dbt/package-lock.yml

# IDE
.idea/
.vscode/

# Claude Code
.claude/
.ruff_cache

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
logs

claude.md